In [1]:
#importation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#importation dataset
reported = pd.read_csv("reported_numbers.csv")

In [5]:
#transformation en dataframe avec pandas
df = pd.DataFrame(reported)
df.head(15)

,Country,Year,No. of cases,No. of deaths,WHO Region
0,Afghanistan,2017,161778.0,10.0,Eastern Mediterranean
1,Algeria,2017,0.0,0.0,Africa
2,Angola,2017,3874892.0,13967.0,Africa
3,Argentina,2017,0.0,1.0,Americas
4,Armenia,2017,0.0,NaN,Europe
5,Azerbaijan,2017,0.0,NaN,Europe
6,Bangladesh,2017,4893.0,13.0,South-East Asia
7,Belize,2017,7.0,0.0,Americas
8,Benin,2017,1573163.0,2182.0,Africa
9,Bhutan,2017,24.0,1.0,South-East Asia
10,Bolivia (Plurinational State of),2017,4572.0,0.0,Americas
11,Botswana,2017,1900.0,17.0,Africa
12,Brazil,2017,189503.0,30.0,Americas
13,Burkina Faso,2017,10225459.0,4144.0,Africa
14,Burundi,2017,7670177.0,4414.0,Africa

In [7]:
#compte le nombre de pays
len(df.Country.unique())

108

In [8]:
#cmpte le nombre des fois qu'une annee apprait
df.Year.value_counts()

2017    108
2016    108
2001    108
2002    108
2003    108
2004    108
2005    108
2006    108
2007    108
2008    108
2009    108
2010    108
2011    108
2012    108
2013    108
2014    108
2015    108
2000    108
Name: Year, dtype: int64